// Colours
$lightGreen: #138793;
$darkGreen: #1e4242; // Fades
$darkBlack: #1d1d1d;
$darkGrey: #898989;
$lightGrey: #f6f6f6;

// font weights

// Light 300
// Regular 400
// Medium 500
// Semi-Bold 600
